
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PRAGMA | Create Wayback Citations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form method="POST" action="/">
      <input type="text" name="url" placeholder="https://google.com"/>
      <input type="text" name="annotation" placeholder="Enter a CSS ID to cite"/>
      <input type="hidden" name="redirect" value="true"/>
      <input type="submit"/>
  </body>
</html>
